<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Long_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,185}</string>
                <key>spriteSourceSize</key>
                <string>{241,185}</string>
                <key>textureRect</key>
                <string>{{1,1},{241,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Long_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,185}</string>
                <key>spriteSourceSize</key>
                <string>{185,185}</string>
                <key>textureRect</key>
                <string>{{1,518},{185,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Long_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,163}</string>
                <key>spriteSourceSize</key>
                <string>{234,163}</string>
                <key>textureRect</key>
                <string>{{1,188},{234,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Long_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,163}</string>
                <key>spriteSourceSize</key>
                <string>{209,163}</string>
                <key>textureRect</key>
                <string>{{1,353},{209,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Long_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,163}</string>
                <key>spriteSourceSize</key>
                <string>{256,163}</string>
                <key>textureRect</key>
                <string>{{1,705},{256,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishAtlas.png</string>
            <key>size</key>
            <string>{243,962}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e01bdbaf96db9da54441bc73d9b27b79:015ae6242a253986eaab7966b5e8e9a8:f8a573356a5094676af64cd3d6b8cf1e$</string>
            <key>textureFileName</key>
            <string>fishAtlas.png</string>
        </dict>
    </dict>
</plist>
